.square {
  background: #fff;
  border: 3px solid #999;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 34px;
  height: 104px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 104px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
