.item {
  width: 500px;
  color: azureColor;
  font-size: 20px;
  margin: 0px;
}

.itemName {
  font-weight: bold;
  padding: 20px;
}

.line {
  border: 1px solid #f0f0f0;
}

.deleteButton {
  float: right;
  padding: 12px 20px;
  border: none;
  color: black;
  background: aquamarine;
  margin-top: -5px;
  border-radius: 4px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
